.fadeIn {
  	opacity:1;
    width:100px;
    min-height:100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
.row_col{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fadeOut{
     opacity:0;
     width:0;
     height:0;
     transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.react-time-picker__inputGroup__input {
    width: 30px !important;
}

.react-time-picker__inputGroup__hour{
    text-align: right !important;
}
.react-time-picker__inputGroup__amPm{
    width: 60px !important;
}

.react-time-picker__inputGroup {
    padding: 5px 10px !important;
}

.react-time-picker__inputGroup__leadingZero {
    margin-right: 1px !important;
}
.react-time-picker__inputGroup__divider{
    margin: 0 6px !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

@media only screen and (max-width: 700px) {
}
